
*.aux

*.aux

Thesis_Main_File.bbl

Thesis_Main_File.blg

Thesis_Main_File.lof

Thesis_Main_File.log

Thesis_Main_File.pdf

Thesis_Main_File.aux

Thesis_Main_File.aux

Thesis_Main_File.synctex.gz

Thesis_Main_File.toc

*.aux

*.pdf

*.lot

*.log

*.toc
